<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
    <!-- NavBar -->
    <th:block th:include="extras/navBar"></th:block>
    <!-- End NavBar -->
    <div class="mx-auto mt-5 col-md-4">

        <div class="container">
            <!-- Msg Validate -->
            <th:block th:include="extras/msgValidate"></th:block>
            <!-- End Msg Validate -->

            <!-- Form Register User -->
            <div class="card card-register">
                <div class="card-header">Registre-se</div>

                <div class="card-body">
                    <small style="color: red">Campos com * são obrigatórios</small>
                    <br>
                    <br>

                    <form action="/registre-se" method="post">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="Nome" class="required">Nome:
                                        <em>*</em>
                                    </label>
                                    <input class="form-control" id="name" name="name" type="text" aria-describedby="nameHelp" required="required" maxlength="50">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="Data" class="required">Usuario:
                                        <em>*</em>
                                    </label>
                                    <input class="form-control" id="login" name="login" type="text" aria-describedby="datelHelp" maxlength="10" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="Data" class="required">Senha:
                                        <em>*</em>
                                    </label>
                                    <input class="form-control" id="senha" name="senha" type="password" aria-describedby="datelHelp" maxlength="10" required="required">
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Finalizar cadastro" class="btn btn-primary btn-block">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                </div>
            </div>
            <!-- End Form Register User -->
        </div>
    </div>

    <!-- Footer -->
    <th:block th:include="extras/footer"></th:block>
    <!-- End Footer -->


</body>

</html>